@font-face{
  font-family: "chemi font1";  
  src: url("fonts/JacquesFrancoisShadow-Regular.ttf");
}
@font-face{
    font-family: "chemi font2";  
    src: url("fonts/Play-Regular.ttf");
  }
@font-face{
    font-family: "chemi font3";  
    src: url("fonts/OriginalSurfer-Regular.ttf");
  }
.p1{
    font-family: "chemi font3";
}
.p{
    font-family: "chemi font2";
}
h3{
    font-family: "chemi font1";
}